# API
NEXT_PUBLIC_API_BASE_PATH=https://app.didattica.polito.it

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

# AI (optional - enables AI features)
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=better-polito
